*{
    font-family: 'Lato', sans-serif;
    align-items: center;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(0, 0, 0);
    height:90px;
    font-size: 1.1em;
    position: sticky;
    top:0;

}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height:90px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar-logo{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-logo span{
   color:rgb(143, 200, 143);
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-item{
    height: 80px;
}
.navbar-links{
    color:rgb(0, 0, 0);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height:100%;
    transition: all 0.3s ease;
}
.navbar-links:hover{
    color:#c07597;
    transition: all 0.3s ease;
}
.search-bar{
    display: flex;
    border-color: rgba(79, 78, 78, 0.156);
    height: 2rem;
    width: 15rem;
    border-radius: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.search-btn{
    letter-spacing: .5px;
    color:#000;
    outline: 1px solid black;
    padding: 4px 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 1s;
    margin-left: 5px;
}
.search-btn:hover{
    background-color:rgb(143, 200, 143);
    transition: background-color 1s;
}
.search-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background-color:rgb(143, 200, 143);
    z-index: -1;
    transition: width 1s;
}
.search-btn:hover::before{
    width: 100%;
}

@media  screen and (max-width:1000px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
   

    .navbar-logo{

        padding-left: 25px;
    }
    }
  
 
   

.text-center{
   text-align: center;
   padding-top: 2rem;
}

.text-center p{
   color: #000;
}
.start-title{
    font-size: 3rem;
    color:black;
    font-family: 'Playfair Display', serif;
}
.btn-start{
    letter-spacing: 1px;
    color:#000;
    outline: 1px solid black;
    padding: 4px 10px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
  
    /*border:none;
   
    border-radius: 4px;
    background-color:rgb(143, 200, 143);*/
}
.btn-start:hover{
    color:rgb(255, 255, 255);
}
.btn-start::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background-color:rgb(143, 200, 143);

    z-index: -1;
    transition: 1s;
}
.btn-start:hover::before{
    width: 100%;
}
